In [84]:
#Import dependencies
import pandas as pd
import numpy as np

In [85]:
#Establish original dataframe
original_df = pd.read_json("purchase_data.json")
original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [86]:
#Find total number of players. Some occur repeatedly. Filtering out duplicate players
totalplayers = len(original_df["SN"].value_counts())
totalplayers

573

In [87]:
#PURCHASING ANALYSIS (TOTAL)
# Number of unique items
unique_items = len(original_df["Item Name"].value_counts())

#Average Purchase Price
mean_price = original_df["Price"].mean()

#Total Number of Purchases
total_purch = len(original_df)

#Total Revenue
pricelist = original_df["Price"].tolist()
totalrev= sum(pricelist)

In [88]:
#GENDER DEMOGRAPHICS

#Total players = 573
#Remove duplicate players
gender_df = original_df.drop_duplicates(["SN"])
#Males
total_male = gender_df.loc[gender_df.Gender == 'Male', 'Gender'].count()
male_perc = total_male/totalplayers*100
#Females
total_female = gender_df.loc[gender_df.Gender == 'Female', 'Gender'].count()
female_perc = total_female/totalplayers*100
#Other
total_other = totalplayers - total_male - total_female
other_perc = total_other/totalplayers*100

In [89]:
#PURCHASING ANALYSIS (GENDER)
#separate dataframes by gender
male_df = original_df.loc[original_df["Gender"] == 'Male',:]
female_df = original_df.loc[original_df["Gender"]=='Female',:]
#Purchase count, avg purch val, total purch val, normalized totals
    #Male
male_purch_count = len(male_df)
male_avg_val = male_df["Price"].mean()
male_tot_val = male_df["Price"].sum()
    #Female
female_purch_count = len(female_df)
female_avg_val = female_df["Price"].mean()
male_tot_val = male_df['Price'].sum()

In [94]:
#AGE DEMOGRAPHICS
#bins
bins = [0,10,14,18,22,26,30,34,38,42,46]
#bin names
bin_names = ['0-10','10-14','14-18','18-22','22-26','26-30',
             '30-34','34-38','38-42','42-46']
#cut into bins
age_df = original_df

#age_df["Age Group"] = pd.cut(original_df['Age'],bins, labels = bin_names)
#group by bins
age_groups= age_df.groupby("Age Group")
age_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,34-38
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,18-22
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,18-22
4,23,Male,63,Stormfury Mace,1.27,Aela59,22-26